<section class="articlenew">
  <h1>{{ pagetitle }}</h1>
  <p>
    <form method='post' action='/posts' class='articleform'>
      <fieldset>
        <legend>New Post</legend>

        <div>
          <label for='title'>Title</label>
          <input name='title' value="{{ title }}"></input>
        </div>

        <div>
          <label for='body'>Body</label>
          <textarea name='body' rows='30' columns='125'>{{ body }}</textarea>
        </div>

        <div class='buttons'>
          <button>Save</button>
          <a href="/">Cancel</a>
        </div>
      </fieldset>
    </form>
    <hr>
    <ul class="sets">Or create a new article based on:<br>
      {{#allsets}}
      <li><a href="/posts/new/{{.}}">{{.}}</a></li>
      {{/allsets}}
    </ul>
  </p>
</section>